{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<div id="intro">
    <div id="intro-carousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators mb-4">
            <li data-bs-target="#intro-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#intro-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#intro-carousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#intro-carousel" data-bs-slide-to="3"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <!-- Header -->
                <div id="intro-1">
                    <div class="intro-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="wow animated fadeInLeft" data-wow-delay="0.3s">Precision<br>Micro Machining</h1>
                                    <h3 class="wow animated fadeInRight" data-wow-delay="0.8s">Experts in <strong>precision machining</strong></h3>
                                    <br>
                                    <a href="#about" class="btn btn-default page-scroll wow animated fadeInUp" data-wow-delay="1.2s"><b>Learn More</b></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="carousel-item">
                <!-- Header -->
                <div id="intro-2">
                    <div class="intro-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="wow animated fadeInLeft" data-wow-delay="0.3s">Precision<br> Machining</h1>
                                    <h3 class="wow animated fadeInRight" data-wow-delay="0.8s">serving the <strong>medical device market</strong></h3>
                                    <br>
                                    <a href="#about" class="btn btn-default page-scroll wow animated fadeInUp" data-wow-delay="1.2s"><b>Learn More</b></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="carousel-item">
                <!-- Header -->
                <div id="intro-3">
                    <div class="intro-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="wow animated fadeInLeft" data-wow-delay="0.3s">Precision<br>Micro Machining</h1>
                                    <h3 class="wow animated fadeInRight" data-wow-delay="0.8s">serving <strong>Southern California</strong></h3>
                                    <br>
                                    <a href="#about" class="btn btn-default page-scroll wow animated fadeInUp" data-wow-delay="1.2s"><b>Learn More</b></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <!-- Header -->
                <div id="intro-4">
                    <div class="intro-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="wow animated fadeInLeft" data-wow-delay="0.3s">Precision<br>5-Axis Machining</h1>
                                    <h3 class="wow animated fadeInRight" data-wow-delay="0.8s">serving <strong>Southern California</strong></h3>
                                    <br>
                                    <a href="#about" class="btn btn-default page-scroll wow animated fadeInUp" data-wow-delay="1.2s"><b>Learn More</b></a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#intro-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#intro-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>	
</div>

<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>About Us</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Premier Precision Machining</h3>
                <p>
                    3D TEK CNC, INC. provides <strong>premier precision machining</strong>, serving a core spectrum of precision industries which
                    includes Medical, Aerospace, MEMS Technology and Particle Accelerator Industries. Specializing in
                    precision medical components and micro mold builds for implantable silicone components.
                </p>
                <p>
                    3D TEK CNC, INC is committed to customer satisfaction. We strive to be your preferred supplier. We
                    deliver the highest quality components on schedule to keep your projects on time.
                </p>
                <p>
                    With over 35 years of machining experience, 3D TEK CNC, INC. is capable of machining all types of
                    medical grade materials, including Titanium 6AL-4V, Niobium, Polysulfone and PEEK. Whether your
                    needs are prototype or production volumes, tooling or assembled fixtures, 3D TEK CNC, INC. has the
                    expertise to help you bring your products to market.
                </p>
            </div>
            <div class="col-md-6">
                <div class="about-slider wow animated fadeIn">
                    <div class="text-center about-slide">
                        <figure>
                            <img width="500" src="{{asset 'img/team-5.jpg'}}" alt="Experienced Precision Machine Shop near Ventura CA">
                        </figure>
                    </div>
                    <div class="text-center about-slide">
                        <figure>
                            <img width="500" src="{{asset 'img/team-4.jpg'}}" alt="Timely Precision Machine Shop near Ventura CA">
                        </figure>
                    </div>
                    <div class="text-center about-slide">
                        <figure>
                            <img width="500" src="{{asset 'img/fanuc-machining.jpg'}}" alt="Quality Precision Machine Shop in Ventura CA">
                        </figure>
                    </div>
                    <div class="text-center about-slide">
                        <figure>
                            <img width="500" src="{{asset 'img/team-2.jpg'}}" alt="Timely Precision Machine Shop near Ventura CA">
                        </figure>
                    </div>
                    <div class="text-center about-slide">
                        <figure>
                            <img width="500" src="{{asset 'img/machine-shop.jpg'}}" alt="Quality Precision Machine Shop in Ventura CA">
                            <figcaption>
                                <p>HEXAGON METROLOGY PC-DMIS TRAINING FACILTY</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>

<!-- 5 Axis Section -->
<div id="five-axis">
    <div class="banner">
        <h1>5 Axis Machining</h1>
        <h3>Kitamura Premier Machining</h3> 
        <video autoplay loop muted class="banner__video" poster="{{asset 'img/kitamura-2.jpg'}}">
            <source src="{{asset 'img/bg-video/5-Axis.mp4'}}" type="video/mp4">
            <source src="{{asset 'img/bg-video/5-Axis.ogv'}}" type="video/ogv">
            <source src="{{asset 'img/bg-video/5-Axis.webm'}}" type="video/webm">
        </video>
    </div>
</div>

<!-- Capabilities Section -->
<div id="capabilities">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Our Capabilities</h2>
            <hr>
            <h3>State of the Art Precision Machining</h3>
            <br>
            <br>
        </div>

        <div class="row text-center image-slider">
            <div class="col-xs-4 text-center wow animated fadeIn">
                <img src="{{asset 'img/logo/kitamura_logo.jpg'}}" height="100">
            </div>
            <div class="col-xs-4 text-center wow animated fadeIn">
                <img src="{{asset 'img/logo/okuma_logo.png'}}" height="100">
            </div>
            <div class="col-xs-4 text-center wow animated fadeIn">
                <img src="{{asset 'img/logo/hexagon_logo.png'}}" height="100">
            </div>
            <div class="col-xs-4 text-center wow animated fadeIn">
                <img src="{{asset 'img/logo/renishaw_logo.jpg'}}" height="100">
            </div>
            <div class="col-xs-4 text-center wow animated fadeIn">
                <img src="{{asset 'img/logo/hardinge_logo.png'}}" height="100">	
            </div>
            <div class="col-xs-4 text-center wow animated fadeIn">
                <img src="{{asset 'img/logo/fanuc_logo.png'}}" height="100">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
            </div>
        </div>
    </div>
</div>

<!-- Testimonials Section -->
<div id="testimonials" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>We help bring your precision medical products to market</h2>
            <hr>
            <h3>3D TEK CNC Core Values</h3>
            <br>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row testimonials">
                    <div class="col-sm-4">
                        <blockquote>
                            <p><strong>Pursuit of Excellence</strong><br>
                            <em></em></p>
                            <div class="clients-name">
                                <p>
                                    We exceed customer expectations.
                                    We deliver superior components/parts.
                                    We commit to innovation and continuous improvement.
                                </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                        <blockquote>
                            <p><strong>Teamwork and Respect</strong><br>
                            <em></em></p>
                            <div class="clients-name">
                                <p>
                                    We respect each other's opinions.
                                    We empower employees to make decisions.
                                    We recognize the power of collaboration.
                                </p>
                            </div>
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                        <blockquote>
                            <p><strong>Integrity</strong><br>
                            <em></em></p>
                            <div class="clients-name">
                                <p>
                                    We deliver on our commitments.
                                    We are socially and environmentally responsible.
                                    We do the right thing.
                                </p>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Gallery Section -->
<div id="services">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Our Services</h2>
            <hr>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <div class="text-center gallery-slider-for">
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-4.jpg'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-5.jpg'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-6.jpg'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/5-axis-machining.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-molds-1.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-molds-2.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/quality-machining.jpg'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-1.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-3.jpg'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/edm-2.jpg'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/peek-precision-fixtures.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/precision-pendant.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/3D-TEK-Mold-Cavity.png'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/part-machined-cavity.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/part-machined-cavity-2.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/precision-machined-parts.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-2.jpg'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/precision-tooling.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/medical-molding.JPG'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/optiv-2.jpg'}}">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/quality-machining-2.jpg'}}">
                    </div>
                </div>
                <br>
                <div class="row text-center gallery-slider-nav hidden-xs hidden-sm">
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-4.jpg'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-5.jpg'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-6.jpg'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/5-axis-machining.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-molds-1.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-molds-2.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/quality-machining.jpg'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-1.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-3.jpg'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/edm-2.jpg'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/peek-precision-fixtures.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/precision-pendant.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/3D-TEK-Mold-Cavity.png'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/part-machined-cavity.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/part-machined-cavity-2.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/precision-machined-parts.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/machined-parts-2.jpg'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/precision-tooling.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/medical-molding.JPG'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/optiv-2.jpg'}}" height="50">
                    </div>
                    <div class="text-center wow animated fadeIn">
                        <img src="{{asset 'img/quality-machining-2.jpg'}}" height="50">
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <h3>Precision Machined Parts</h3>
                <p>
                    3D TEK CNC, INC. offers services on a "per-project" basis, for R&D prototype and production jobs. 
                </p>
                <p>
                    With our state of the art machines and subject matter experts, we take care of all of your precision machining needs, from prototypes, precision silicone transfer/ compression molds , tooling & complete fixtures.
                </p>
                <ul>
                    <li><i class="fa fa-fw fa-check" aria-hidden="true"></i> Precision Milling</li>
                    <li><i class="fa fa-fw fa-check" aria-hidden="true"></i> Precision Turning</li>
                    <li><i class="fa fa-fw fa-check" aria-hidden="true"></i> Precision EDM</li>
                    <li><i class="fa fa-fw fa-check" aria-hidden="true"></i> Ultrasonic Polishing</li>
                    <li><i class="fa fa-fw fa-check" aria-hidden="true"></i> Micro Glass Bead Blasting</li>
                    <li><i class="fa fa-fw fa-check" aria-hidden="true"></i> Precision Vision Inspection Systems</li>
                </ul>
            </div>
        </div>

        <br>
        <br>
    </div>
</div>

<!-- Facilities Section -->
<div id="facilities">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Our Facilities</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3299.8425927104045!2d-119.14706308513666!3d34.20149801729795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e84eabfe20612d%3A0x9fe26aefdb7c1ed6!2s3D+TEK+CNC%2C+INC.!5e0!3m2!1sen!2sus!4v1541864417675" width="500" height="375" frameborder="0" style="border:1px #ccc solid;" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h4>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> 
                    </span>
                    2362 Sturgis Rd. Unit C, Oxnard, CA 93030
                </h4>
                <br>
                <p>
                    3D TEK CNC, INC. is located in Ventura County. Our State-Of-The-Art Machine shop gives us control over
                    our manufacturing operations while maintaining the highest level of precision and quality assurance.
                </p>
                <p>
                    Our continuous investment in <strong>High-End Precision Machining Centers</strong> provides our customers with the
                    assurance that we can meet their high precision component requirements.
                </p>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>

<!-- Quote Section -->
<div id="quote">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Precision parts quoted fast</h3>
                <p>Request a quote now</p>
            </div>
            <div class="col-md-4 text-right">
                <a href="https://orders.sendcnc.com/3d-tek-cnc/upload" class="btn btn-default">REQUEST A QUOTE</a>
            </div>
        </div>
    </div>
</div>

{{!-- The main content area --}}
<main id="site-main">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {{> "posts"}}
        </div>

        {{pagination}}
    </div>
</main>
